body {
    background-image: url("https://cutewallpaper.org/21/workout-gym-wallpaper/1920x1080-Gym-Wallpaper-Hd-wallpaper-Build-muscle,-Muscle-.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.carta {
    display: inline-block;
    align-content: center;
}
