<body>
    <div class="container">        
        <div class="clearfix">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQb2ZhRkXTJa4WY2PE8CakFCflyHkm23HcYJ-aN-D-dcFzhwyfpiH5xfXdlO86841C0UF0&usqp=CAU" class="img-thumbnailcol-md-6 float-md-end mb-3 ms-md-3" alt="Imagen Pizzería">
              <h2><b>Bienvenido a pizzería Maxdel!</b></h2>
              <h5><br />En Maxdel tratamos de satisfacer a los mejores paladares de los amantes de 
                  la cocina italiana con un trato cercano y especializado. Nuestro arte en 
                  las pizzas nos permite ofrecer las mejores combinaciones para crear pizzas 
                  con buen gusto, exquisitez, dedicación y que proporcionen el máximo placer 
                  para los sentidos.<br />
                  Nuestros platos se elaboran de manera artesanal usando ingredientes frescos de primera calidad y con la mejor masa hecha a mano.</h5>
        </div>
        <div>
            <br /><br /><br /><br />
            <h5>Contactanos:</h5>
            <h6>📸 Instagram: <a href="https://www.instagram.com/pizzeria_artesanal_maxdel/"  target="_BLANK">pizzeria_artesanal_maxdel</a></h6>
            <h6>💬 Facebook: <a href="https://www.facebook.com/pizzeriaartesanalmaxdel"  target="_BLANK">pizzeria_artesanal_maxdel</a></h6>
            <h6>📞 Whatsapp: <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fapi.whatsapp.com%2Fsend%3Fphone%3D51952648259%26app%3Dfacebook%26entry_point%3Dpage_cta%26fbclid%3DIwAR0khankQ3gh_GTEiv5m9QNvtMYq4Nq7N1YQLch_iwiIIFoScajHrxgepQI&h=AT1RE8iRPMRfykIzIb6NfUNnazNVJj7IXgTwHweMTHmLy2btWvjg8bsp7XdTM74Fh_ULvDu513ZZiwX-f0X8Fuw_TrEQciomyIQSMS5Wl5CN3DMU3jnX_YlDEy3Y-zvDkcsMyA"  target="_BLANK">Envianos un Mensaje</a></h6>
        </div>
    </div>
</body>

