@{
    ViewData["Title"] = "Home Page";
}

@*<link href="~/css/Style.css" rel="stylesheet" />*@

<div class="text">
    <h1 class="text"><b>Bienvenido</b></h1>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://img.freepik.com/vector-gratis/fondo-pizza-doodle-estampado_53876-97421.jpg?w=2000" class="d-block w-100" alt="Oferta 1" height="400px">
    </div>
    <div class="carousel-item">
      <img src="https://img.freepik.com/foto-gratis/pizza-salchichones-sabrosa-fondo-concreto-negro_79782-103.jpg?w=2000" class="d-block w-100" alt="Oferta 2">
    </div>
    <div class="carousel-item">
      <img src="https://static.vecteezy.com/system/resources/previews/003/158/045/large_2x/a-colorful-pizza-background-in-cartoon-style-vector.jpg" class="d-block w-100" alt="Oferta 3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>